rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if signedIn() && request.auth.uid == userId;
      allow create, update: if signedIn() && request.auth.uid == userId;
      allow delete: if false;
    }

    match /customers/{customerId} {
      allow read, write: if signedIn();
    }

    match /products/{productId} {
      allow read, write: if signedIn();
    }

    match /currencies/{currencyId} {
      allow read, write: if signedIn();
    }

    match /exchange_rates/{rateId} {
      allow read, write: if signedIn();
    }

    match /invoices/{invoiceId} {
      allow read, write: if signedIn();
    }

  }
}
